RewriteEngine On
#RewriteBase /

# Test Rules
#RewriteRule ^(test) http://google.ru?q=$1 [L,QSA]

#RewriteCond %{HTTP_HOST} ^zbook\.ru$ [NC]
RewriteRule ^(\d) /index/index/page/$1 [L]

#RewriteRule ^index\/? - [CO=testcookie:value:zbook.ru]
#RewriteRule a http://google.ru/ [L]

RewriteRule ^(js|css|images)/(.+)\.(.+)\.(js|css|jpg|gif|png)$ $1/$2.$4 [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
